
<table border="1">
    <tr>
        <th>Title</th>
        <th>Released date</th>
        <th>Imdb rating</th>
        <th>Plot</th>

        
    </tr>

{{#each obj}}

<tr>

<td><p></p>{{title}}</p></td>
<td><p>{{released}}</p></td>
<td><p>{{imdb.rating}}</p></td>
<td><p>{{plot}}</p></td>

</tr>
{{/each}}

</table>